<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <!-- (isHandset$ | async) === false -->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/main-view/home">Home</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <span>Maccabi</span>
        <span *ngIf="!(isHandset$ | async)">
          <button mat-flat-button color="primary" routerLink="/main-view/home">Home</button>
        </span>
      </div>
      <div class="right-side">
        <div matTooltip="Client: Angular 12, Angular Material. Server: .NET 5">
          <span class="frameworks">.NET | Angular</span>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="account">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #account="matMenu" xPosition="before">
          <button mat-menu-item (click)="onLogout()">Logout</button>
          <!-- <button mat-menu-item>Remove</button> -->
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>