<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <!-- (isHandset$ | async) === false -->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/main-view/home">Home</a>
      <a mat-list-item routerLink="/main-view/display">Display</a>
      <a mat-list-item routerLink="/main-view/search">Search</a>
      <a mat-list-item routerLink="/main-view/form">Form</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <span>Angular Template</span>
        <span *ngIf="!(isHandset$ | async)">
          <button mat-flat-button color="primary" routerLink="/main-view/home">Home</button>
          <button mat-flat-button color="primary" routerLink="/main-view/display">Display</button>
          <button mat-flat-button color="primary" routerLink="/main-view/search">Search</button>
          <button mat-flat-button color="primary" routerLink="/main-view/form">Form</button>

        </span>
      </div>

      <div matTooltip="Client: Angular 12, Angular Material. Server: .NET 5">
        <span class="frameworks">.NET | Angular</span>
      </div>

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>